@charset "UTF-8";
@import "compass";

// Reset
@import "compass/reset";

$family-sans:      ff-meta-web-pro, Helvetica, Arial, sans-serif;
$family-serif:     ff-meta-serif-web-pro, georgia, serif;

$base-font-size:   20px;
$base-line-height: 28px;
$round-to-nearest-half-line: true;
$rhythm-unit:                "rem";

$regular:              400;
$bold:                 700;

$bgcolor:              white;
$text-color:           #231f20;
$light-text-color:     #666666;
$border-color:         #dbdbdb;
$link-color:           #bc0031;
$link-hover-color:     $text-color;
$signup-bg:            $border-color;

@include establish-baseline;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: $bgcolor;
  font-family: $family-sans;
  font-weight: $regular;
  color: $text-color;
  margin: 0;
  padding: 0;
}

p {
  @include trailer;
}

h1 {
  font-family: $family-serif;
  font-weight: $bold;
  @include adjust-font-size-to(36px);
  text-rendering: optimizeLegibility;
  @include trailer;
  text-align: center;
  color: $link-color;
  font-feature-settings: "liga";
}

h2 {
  font-family: $family-sans;
  font-weight: $bold;
  @include adjust-font-size-to(20px);
  text-rendering: optimizeLegibility;
  @include trailer(1);
  text-align: center;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover, &:focus {
    color: $link-hover-color;
  }
}

strong {
  font-weight: $bold;
}
em {
  font-style: italic;
}

.main-header {
  @include clearfix;
  padding: 10px 20px 10px;
  border-bottom: 1px solid $border-color;
}

.logo {
  @include float(left);
  line-height: 1;
}

.lang-switcher {
  @include float(right);
  a {
    @include adjust-font-size-to(18px);
    font-weight: $bold;
  }
}

.info-text {
  margin: rhythm(1.5) auto;
  width: 920px;
}

.is-centered {
  text-align: center;
}

.container {
  @include clearfix;
  margin: 0 auto;
  width: 1200px;
}

.signup {
  @include float;
  width: 600px;
  padding: 30px;
  background: $signup-bg;
}

.signup p {
  margin: 0 0 15px 0;
}

.floated-fields {
  @include clearfix;
}

p.postalcode {
  @include float;
  width: 100px;
  margin-right: 20px;
}
p.city {
  @include float;
  width: 420px;
}

p.country {
  width: 50%;
  @include float;
  margin: 0;
}
p.action {
  width: 50%;
  @include float;
  text-align: right;
  margin: 10px 0 0 0;
  &.action-en {
    margin-top: 0;
  }
}

label {
  display: none;
  &.radio {
    display: block;
  }
}

input, button {
  padding: 5px 7px;
  font-family: $family-sans;
  font-weight: $regular;
  @include adjust-font-size-to(19px);
  @include border-radius(1px);
  width: 100%;
  border: 2px solid darken($border-color, 5%);
  vertical-align: middle;
  @include transition(border linear .2s);
}

input[type="radio"] {
  display: inline;
  width: auto;
  margin-right: 5px;
}

select {
  display: block;
  width: auto;
  font-family: $family-sans;
  font-weight: $regular;
  @include adjust-font-size-to(19px);
}

input:focus {
  outline: 0;
  border-color: white
}

button {
  background: $link-color;
  color: white;
  border: none;
  @include adjust-font-size-to(19px);
  font-weight: $bold;
  @include border-radius(3px);
  padding: 8px 15px 4px;
  border-bottom: 2px solid darken($link-color, 10%);
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  outline: 0;
  width: 165px;
  &:hover {
    background: darken($link-color, 10%);
  }
  &:active {
    margin: 1px 0 0 1px;
  }
}
::placeholder {
  color: $light-text-color;
  opacity: 1;
}

.books {
  width: 580px;
  margin: rhythm(1) 0 0 20px;
  @include float;
  @include clearfix;
}

.book-image {
  float: left;
  width: 200px;
  padding: 0 10px;
  img {
    width: 100%;
    height: auto;
  }
}
.should-be-smaller {
  width: 150px;
}
