<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title %> - Allard Pierson Museum</title>
    <script src="//use.typekit.net/wqw8zbr.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
